@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Martian+Mono:wght@700&family=Poppins:wght@100;200;300;400&display=swap');
/*poppince*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=DM+Sans:opsz,wght@9..40,200;9..40,400&family=Martian+Mono:wght@700&family=Poppins:wght@100;200;300;400&display=swap');
/*dm-sans*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=DM+Sans:opsz,wght@9..40,200;9..40,400&family=Martian+Mono:wght@700&family=Poppins:wght@100;200;300;400&family=Rammetto+One&display=swap');
/*remmoto-one*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 1.5px #0098FF;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.trailing-center::after {
  content: '\A';
  white-space: pre;
  display: block;
  text-align: center;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FFFFFF
}

@layer components {
  .btn-primary {
    @apply bg-gradient-to-b from-sky-500 to-cyan-400 text-white text-lg font-medium font-poppins rounded-[10px] cursor-pointer;
  }
  .nav-link {
    @apply text-base font-normal text-neutral-400 font-dm-sans leading-[18px];
  }
}

